<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BUDDY MATCHING SYSTEM FOR CONCERTS AND LIVE SHOWS</title>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/helpers.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename = 'js/logout.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/jus2.css') }}">

  <!-- <link rel="stylesheet" href="./css/debug.css"> -->
</head>

<body>

  <div class="hero-head text" style="height:60px;">
    <nav class="navbar " role="navigation" aria-label="main navigation" style="background-color: #343633;">
      <div class="navbar-brand level-left">
        <a class="navbar-item" href="#" style="color:white;">
          <!-- <img src="./images/logo.png" width="80px;" height="80px;"> -->
          HOME
        </a>
      </div>
      <div id="navbarBasicExample level-left" class="navbar-menu">
        <div class="navbar-start">


        </div>
      </div>

      <div class="level-right " style="margin-right: 20px;">
        <div class="" >
          <figure class="image is-48x48" style="margin-right: 5px;">
            <img id="user_img" class="is-rounded" src="">
        </div>
        </figure>
        <h4 size="5" id="user_name" style="margin-right:15px;color:white;"></h4>
        <a size="5" class="button  is-danger " id="signOut" href="{{ url_for('signout') }}"style="background-color:transparent;">SIGN OUT</a>
        <!-- <button class="text" id="signOut" onclick="location.href = './index.html'"; >Sign Out</button> -->
      </div>
    </nav>
  </div>

  <div class="hero " style="margin-left:200px;margin-right:200px;margin-top:100px;">
    <div class="columns">
      {% for i in range(2,7) %}
        {% set img_url = ["images/",i,".jpg"]|join('') %}
        {# <p>{{  ["images/",i,".jpg"]|join('') }}</p> #}
        <div class="column">
          <a href="{{ url_for('jus2') }}">
            <img src="{{ url_for('static', filename =img_url) }}" alt="" style="width:100%;height:100%;">
          </a>
          
        </div>
      
      {% endfor %}
    </div>
    {# <div class="column">
        <a href="./pages/jus2.html"> #}

    {# <div class="column">
    <a href="./pages/ppelc.html">
      <img src="./images/3.jpg" alt="" style="width:100%;height:100%;">
    </a>
  </div>
  <div class="column">
    <a href="./pages/nadech.html">
      <img src="./images/4.jpg" alt="" style="width:100%;height:100%;">
    </a>
  </div>
  <div class="column">

    <img src="./images/5.jpg" style="width:100%;height:100%;">

  </div>
  <div class="column">
    <img src="./images/6.jpg" style="width:100%;height:100%;">
  </div>
  </div> #}
    {# <div class="columns">
    <div class="column">
      <img src="./images/7.jpg" alt="" style="width:100%;height:100%;">
    </div>
    <div class="column">
      <img src="./images/8.jpg" alt="" style="width:100%;height:100%;"></div>
    <div class="column">

      <!-- <img src="./images/5.jpg"> -->

    </div>
    <div class="column">
      <!-- <img src="./images/6.jpg"> -->
    </div>
    <div class="column">

      <!-- <img src="./images/4.jpg" alt="">-->
    </div>
  </div> #}

    {# </div> #}

  </div>
  <!-- built files will be auto injected -->
</body>

</html>